game/.gitignore

Data
Editor
Languages
Music
Palettes
Sprites
Worlds

Assets.dat

Baba Is You.exe
gamecontrollerdb.txt
steam_api.dll

icon.bmp
run.sh
Chowdren
libsteam_api.so

.idea

node_modules
yarn-error.log

game/websocketd

game/log.log